# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store

# IntelliJ
.idea/
*.iml

# Visual Studio Code
.vscode/

# Android
/android/app/build/
/android/.gradle/
/android/gradle/
/android/gradlew
/android/gradlew.bat
/android/local.properties

# iOS
/ios/Pods/
/ios/Flutter/App.framework
/ios/Flutter/engine
/ios/Flutter/flutter_assets
/ios/Flutter/pod_install_and_build.sh
/ios/Flutter/Generated.xcconfig
/ios/Flutter/LastUpgradeCheck.txt
/ios/Runner/GeneratedPluginRegistrant.h
/ios/Runner/GeneratedPluginRegistrant.m
/ios/Runner.xcworkspace/
/ios/Runner.xcodeproj/project.xcworkspace/
/ios/Runner.xcodeproj/xcuserdata/

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.dart_tool/
build/

# Large files
*.apk
*.zip
*.aab
*.ipa
*.base64
.vercel
.env*.local
/usr/bin/bash: line 4: /upload-keystore.jks: No such file or directory
